/* 채팅창 */
.chat-area {
  width: 400px;
  height: 400px;
  background: var(--color-base-000);
  border: solid 1px var(--color-gray-200);
  border-radius: 4px;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  overflow: hidden;
}

/* 드래그 핸들 */
.chat-header {
  height: 50px;
  background: var(--color-gray-050);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px;
  cursor: grab;
}

.chat-body {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 12px;
}

/* 메시지 스타일 */
.chat-message {
  max-width: 70%;
  padding: 8px 10px;
  border-radius: 12px;
  position: relative;
}

/* 채팅창 */
.chat-area {
  width: 400px;
  height: 400px;
  background: var(--color-base-000);
  border: solid 1px var(--color-gray-200);
  border-radius: 4px;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  overflow: hidden;
}

/* 드래그 핸들 */
.chat-header {
  height: 50px;
  background: var(--color-gray-050);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px;
  cursor: grab;
}

.chat-body {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 12px;
}

/* 메시지 스타일 */
.chat-message {
  max-width: 70%;
  padding: 8px 16px;
  position: relative;
}

/* AI 메시지 */
.chat-message.ai {
  align-self: flex-start;
  background: var(--color-yellow-100);
  color: var(--color-gray-900);
  border-radius: 999px;
  /* border-bottom-left-radius: 6px; */
}

/* 사용자 메시지 */
.chat-message.user {
  align-self: flex-end;
  background: var(--color-cyan-500);
  color: white;
  border-radius: 999px;
  /* border-bottom-right-radius: 4px; */
}

/* AI 메시지 */
.chat-message.ai.first {
  margin-top: 12px;
  border-bottom-left-radius: 4px;
}

.chat-message.ai.first::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: -7px;
  width: 16px;
  height: 16px;
  background: var(--color-yellow-100);
  border-bottom-right-radius: 16px 14px;
}

.chat-message.ai.first::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -16px;
  width: 16px;
  height: 16px;
  background: var(--color-base-000);
  border-bottom-right-radius: 10px;
}

/* 사용자 메시지 */
.chat-message.user.first {
  margin-top: 12px;
  border-bottom-right-radius: 0px;
}

.chat-message.user.first::before {
  content: "";
  position: absolute;
  bottom: -1px;
  right: -7px;
  width: 16px;
  height: 16px;
  background: var(--color-cyan-500);
  border-bottom-left-radius: 16px 14px;
}

.chat-message.user.first::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: -16px;
  width: 16px;
  height: 18px;
  background: var(--color-base-000);
  border-bottom-left-radius: 10px;
}

.chat-body::-webkit-scrollbar,
div::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.chat-body::-webkit-scrollbar-track,
div::-webkit-scrollbar-track {
  background: transparent;
}

.chat-body::-webkit-scrollbar-thumb,
div::-webkit-scrollbar-thumb {
  background: var(--color-gray-200);
  border-radius: 4px;
}

.chat-body::-webkit-scrollbar-thumb:hover,
div::-webkit-scrollbar-thumb:hover {
  background: var(--color-gray-300);
}

@keyframes bubbleFadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.chat-message-wrapper {
  animation: bubbleFadeIn 0.3s cubic-bezier(0.16, 1, 0.3, 1) forwards;
  display: flex;
  align-items: flex-end;
  gap: 6px;
  width: 100%;
}

@keyframes skeletonShimmer {
  0% {
    background-position: 200% 0;
  }

  100% {
    background-position: -200% 0;
  }
}