/* 채팅창 */
.chat-area {
  width: 400px;
  height: 400px;
  background: var(--color-base-000);
  border: solid 1px var(--color-gray-200);
  border-radius: 4px;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  overflow: hidden;
}

/* 드래그 핸들 */
.chat-header {
  height: 50px;
  background: var(--color-gray-050);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px;
  cursor: grab;
}

.chat-body {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 12px;
}

/* 메시지 스타일 */
.chat-message {
  max-width: 70%;
  padding: 8px 10px;
  border-radius: 12px;
  position: relative;
}

/* 채팅창 */
.chat-area {
  width: 400px;
  height: 400px;
  background: var(--color-base-000);
  border: solid 1px var(--color-gray-200);
  border-radius: 4px;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  overflow: hidden;
}

/* 드래그 핸들 */
.chat-header {
  height: 50px;
  background: var(--color-gray-050);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px;
  cursor: grab;
}

.chat-body {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 12px;
}

/* 메시지 스타일 */
.chat-message {
  max-width: 70%;
  padding: 8px 16px;
  position: relative;
}

/* AI 메시지 */
.chat-message.ai {
  align-self: flex-start;
  background: var(--color-gray-100);
  color: var(--color-gray-900);
  border-radius: 999px;
  /* border-bottom-left-radius: 6px; */
}

/* 사용자 메시지 */
.chat-message.user {
  align-self: flex-end;
  background: var(--color-cyan-500);
  color: white;
  border-radius: 999px;
  /* border-bottom-right-radius: 4px; */
}

/* AI 메시지 */
.chat-message.ai.first {
  margin-top: 12px;
  border-bottom-left-radius: 4px;
}

.chat-message.ai.first::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: -7px;
  width: 16px;
  height: 16px;
  background: var(--color-gray-100);
  border-bottom-right-radius: 16px 14px;
}

.chat-message.ai.first::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -16px;
  width: 16px;
  height: 16px;
  background: var(--color-base-000); /* chat-area 배경색과 동일 */
  border-bottom-right-radius: 10px;
}

/* 사용자 메시지 */
.chat-message.user.first {
  margin-top: 12px;
  border-bottom-right-radius: 0px;
}

.chat-message.user.first::before {
  content: "";
  position: absolute;
  bottom: -1px;
  right: -7px;
  width: 16px;
  height: 16px;
  background: var(--color-cyan-500);
  border-bottom-left-radius: 16px 14px;
}

.chat-message.user.first::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: -16px;
  width: 16px;
  height: 18px;
  background: var(--color-base-000); /* chat-area 배경색과 동일 */
  border-bottom-left-radius: 10px;
}