.navbar-container{
  width: calc(120px + 282px);
  padding-left: 120px;
  transition: width 0.2s linear;
}

.navbar-container.collapsed {
  width: calc(120px + 78px);
  transition: width 0.2s linear;
}

.navbar {
  width: 282px;
  height: 100vh;
  background: var(--color-base-000);
  border-right: 1px solid var(--color-gray-300);
  color: var(--color-gray-900);
  /* transition: width 0.2s linear, margin-right 0.2s linear; */
  transition: width 0.2s linear;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.navbar.collapsed {
  width: 78px;
  /* margin-right: calc(120px - 78px); */
  /* transition: width 0.2s linear, margin-right 0.2s linear; */
  transition: width 0.2s linear;
  padding: 0px 8px;
}

.navbar-toggle {
  padding: 16px;
  cursor: pointer;
  border-bottom: 1px solid var(--color-gray-200);
}

.navbar-menu {
  padding-top: 96px;
  flex: 1;
}

.navbar-item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 16px;
  cursor: pointer;
  transition: background 0.15s;
}

.navbar-item:hover {
  color: var(--color-cyan-700);
  /* background: var(--color-cyan-300); */
}

.navbar-menu > h4 {
  margin-top: 12px;
  margin-bottom: 12px;
  font-size: 24px;
  font-weight: 700;
  transition: font-size 0.2s linear;
}

.navbar.collapsed .navbar-menu > h4 {
  margin-top: 12px;
  margin-bottom: 12px;
  font-size: 14px;
  transition: font-size 0.2s linear;
}

.navbar-menu > hr {
  /* width: 100%; */
  width: calc(282px - 64px);
  border: none;
  border-bottom: 2px solid var(--color-gray-400);
  margin: 0;
  transition: width 0.2s linear;}

.navbar.collapsed .navbar-menu > hr {
  width: 100%;
  transition: width 0.2s linear;
}

.navbar-menu > .profile-img {
  width: 218px;
  height: 218px;
  border-radius: 50%;
  background: var(--color-gray-200);
  margin: 32px auto;
  transition: width 0.2s linear, height 0.2s linear;
}

.navbar.collapsed .navbar-menu > .profile-img {
  width: 46px;
  height: 46px;
  transition: width 0.2s linear, height 0.2s linear;
}

.profile-name {
  display: inline-block;
  width: calc(282px - 64px);
  font-size: 20px;
  font-weight: 700;
  border-top: 2px solid var(--color-gray-400);
  border-bottom: 2px solid var(--color-gray-400);
  padding: 16px;
  transition: display 0.2s linear, width 0.2s linear;
}

.navbar.collapsed .navbar-menu > .profile-name {
  display: none;
  width: calc(78px - 16px);
  transition: display 0.2s linear, width 0.2s linear;
}