.navbar {
  width: 265px;
  height: 100vh;
  background: var(--color-base-000);
  border-right: 1px solid var(--color-gray-300);
  color: var(--color-gray-900);
  transition: width 0.2s ease;
  display: flex;
  flex-direction: column;
}

.navbar.collapsed {
  width: 60px;
}

.navbar-toggle {
  padding: 16px;
  cursor: pointer;
  border-bottom: 1px solid var(--color-gray-200);
}

.navbar-menu {
  padding-top: 96px;
  flex: 1;
}

.navbar-item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 16px;
  cursor: pointer;
  transition: background 0.15s;
}

.navbar-item:hover {
  color: var(--color-cyan-700);
  /* background: var(--color-cyan-300); */
}